
.header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.065);
  color: white;
  padding: 20px 60px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.19);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 40px;
}
.header h1 {
  color: rgba(0, 0, 0, 0.648);
}
.header img {
  width: 60px;
  height: 60px;
  position: relative;
}
.header .ul {
  display: flex;
  gap: 10px;
  list-style: none;
  margin-top: 10px;
}
.header .ul li {
  background-color: black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.header .ul li:hover {
  background-color: rgba(0, 0, 0, 0.448);
}
.header .ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}
.main {
  padding: 20px 40px;
  min-height: 100vh;
}

.sec-funciones-principales {
  width: 90%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 60px;
  align-items: center;
}
.articulo-funciones {
  background-color: rgba(0, 0, 0, 0.133);
  padding: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  line-height: 30px;
  height: 100%;
}
.articulo-funciones img {
  width: 100%;
}
.articulo-textos {
  height: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.articulo-encabezado {
  font-weight: bold;
  font-size: 24px;  
}
.articulo-boton {
  border: 0;
  width: 100%;
  background-color: #2ba251;
  padding: 10px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-weight: bold;
  color: white;
  font-size: 16px;  
}
.articulo-boton:hover {
  background-color: #24783f;
}

/* --------  AdministracionCostos  -------- */
.main.costos {
  padding: 0;
}
.subtitulo-costos {
  width: 100%;
  background-color: #92edaf;
  padding: 20px;
  color: rgb(45, 45, 45);
  font-size: 25px;
  font-weight: bolder;  
  text-transform: uppercase;
}
.subtitulo-costos p {
  font-size: 18px;
}
.costos table {
  width: 45%;
  background-color: rgb(230, 230, 230);    
}
.costos table, tr, td {
  border: 1px solid;
  padding: 10px;    
}
.sec-fijo-variable {
  display:  flex;
  justify-content: space-between;
  padding: 60px 40px;
}
.sec-fijo-variable table td:nth-child(1) {
  background-color: rgb(182, 255, 194);
}
.sec-diferentes-cantidades {
  display:  flex;
  justify-content: space-between;
  padding: 60px 40px;
}
.sec-diferentes-cantidades table{
  width: 100%;
}
.sec-diferentes-cantidades table tr:nth-child(1) {
  background-color: rgb(182, 255, 194);
}
.sec-diferentes-cantidades th {
  border: 1px solid;
  padding: 10px;    
}
.sec-boton {
  display:  flex;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
}
.sec-boton button {
  padding: 15px 20px;
  font-size: 18px;
  background-color: rgb(182, 255, 194);
}

/* --------  Planes  -------- */
.main.planes {
  padding: 0;
}
.subtitulo-planes {
  width: 100%;
  background-color: #92edaf;
  padding: 20px;
  color: rgb(45, 45, 45);
  font-size: 25px;
  font-weight: bolder;  
}
.subtitulo-planes p {
  font-size: 18px;
}
.planes table {
  width: 80%;
  background-color: rgb(230, 230, 230);    
}
.planes table, tr, td {
  border: 1px solid;
  padding: 10px;    
}
.sec-trabajadores {
  display:  flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 60px 40px;
}
.sec-trabajadores table tr:nth-child(1) {
  background-color: rgb(182, 255, 194);
}
.sec-trabajadores th {
  border: 1px solid;
  padding: 10px;    
}

/* --------  coordinacion  -------- */
.main.coordinacion {
  padding: 0;
}
.subtitulo-coordinacion {
  width: 100%;
  background-color: #92edaf;
  padding: 20px;
  color: rgb(45, 45, 45);
  font-size: 25px;
  font-weight: bolder;  
  text-transform: uppercase;
}
.subtitulo-coordinacion p {
  font-size: 18px;
}
.coordinacion table {
  width: 80%;
  background-color: rgb(230, 230, 230);    
}
.coordinacion table, tr, td {
  border: 1px solid;
  padding: 10px;    
}
.sec-coordinacion {
  display:  flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 60px 40px;
}
.sec-coordinacion table thead tr:nth-child(1) {
  background-color: rgb(182, 255, 194);
}
.sec-coordinacion th {
  border: 1px solid;
  padding: 10px;    
}